:root {
  --garden-texture-width: 704px;
  --garden-texture-height: 256px;

}

#workspace {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: black;
  margin: 0;
  user-select: none;

  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.bg {
  position: absolute;
  width: inherit;
  height: inherit;
}

.container {
  overflow: hidden;
}

#canvas {
  background-color: white;
  aspect-ratio: 4 / 3;
  height: 100vh;
  max-height: 100%;
  max-width: 100vw;
  position: relative;

  overflow-x: scroll;
}

#garden,
#garden-overlay,
#garden-grass, 
#seeds-deck {
  position: absolute;
  width: calc(var(--garden-texture-width) * var(--pixel-size));
  height: calc(var(--garden-texture-height) * var(--pixel-size));

  background: url(assets/backgrounds/forest.png) no-repeat;
  background-size: 500% 100%;
}

#garden-overlay {
  background-position-x: 0px;
  pointer-events: none;
}

#garden-grass {
  background-position-x: calc((var(--garden-texture-width) * -1) * var(--pixel-size));
}

#garden {
  background-position-x: calc((var(--garden-texture-width) * -2) * var(--pixel-size));
}

#garden-grid {
  position: relative;
  left: calc(32px * var(--pixel-size));
  top: calc(64px * var(--pixel-size));

  width: calc(32px * 9 * var(--pixel-size));
  height: calc(32px * 5 * var(--pixel-size));

  display: grid;
  grid-template-rows: repeat(5, calc(32px * var(--pixel-size)));
}

#garden-grid > div.grid-row {
  display: grid;
  grid-template-columns: repeat(9, calc(32px * var(--pixel-size)));
}

#garden-grid > div.grid-row:hover {
  background-color: #ffffff93;
}

div.grid-cell:hover {
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  background: url(assets/sprites/HUD/HUD\ assets.png) no-repeat;
  background-size: calc(32px * 10 * var(--pixel-size));
  background-position-x: calc(32px * var(--pixel-size) * -1);
}

#HUD {
  width:  100%;
  height: 100%;
  position: absolute;
}

#seeds-deck {
  background-position-x: calc((var(--garden-texture-width) * -3) * var(--pixel-size));
}