#workspace {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: black;
  margin: 0;
  user-select: none;

  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.bg {
  position: absolute;
  width: inherit;
  height: inherit;
}

.container {
  overflow: hidden;
}

#camera {
  background-color: white;
  aspect-ratio: 4 / 3;
  height: 100vh;
  max-height: 100%;
  max-width: 100vw;
  position: relative;

  overflow-x: scroll;
}

#garden, #garden-overlay, #garden-grass {
  position: absolute;
  width: calc(576px * var(--pixel-size));
  height: calc(256px * var(--pixel-size));

  background: url('assets/backgrounds/forest.png') no-repeat;
  background-size: 300% 100%;
}

#garden {
  background-position-x: calc((-576px * 2) * var(--pixel-size));
}

#garden-overlay {
  background-position-x: 0px;
}

#garden-grass {
  background-position-x: calc((-576px * 1) * var(--pixel-size));
}